<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  <meta property="og:title" content="Python Challenge">
	  <meta property="og:description" content="A Python programming challenge organized by Delta Force">
    <%= csrf_meta_tag() %>
    <title>Python Challenge</title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link phx-track-static rel="icon" type="image/png" href={Routes.static_path(@conn, "/favicon.ico")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header class="header">
      <a href={Routes.page_path(@conn, :index)} class="logo">
        <img src={Routes.static_path(@conn, "/images/logo.png")} width="30px" height="30px">
      </a>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="menu">
        <li><a href={Routes.leaderboard_path(@conn, :first_year)} class="link">First-Years Leaderboard</a></li>
        <li><a href={Routes.leaderboard_path(@conn, :all)} class="link">Leaderboard</a></li>
        <%= if Plug.Conn.get_session(@conn, :email) == nil do %>
            <li><a href={Routes.auth_path(@conn, :login)} class="link">Login</a></li>
        <% else %>
            <li><a href={Routes.challenge_path(@conn, :index)} class="link">Challenges</a></li>
            <li><a href={Routes.auth_path(@conn, :logout)} class="link">Logout</a></li>
        <% end %>
      </ul>
    </header>
    <%= @inner_content %>
  </body>
</html>
