@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Barlow:300,400,500,600,700,800,900&display=swap");

html,
body {
	/* height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column; */
	margin: 0;
	font-family: "Barlow", sans-serif;
}

.logo {
	position: fixed;
	z-index: 5;
	bottom: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 100%;
	backdrop-filter: blur(5px);
}
.logo img {
	width: 55%;
	height: 55%;
	transform: translateY(-1px);
	opacity: 0.8;
}

nav .menu {
	background-color: #01a66f;
	width: 100%;
	height: 80px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
	box-sizing: border-box;
	z-index: 3;
}
nav .menu .website_name {
	color: #695681;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 1px;
	padding: 4px 8px;
	border-radius: 2px;
	opacity: 0.5;
	transition: all 0.4s ease;
	cursor: pointer;
}
nav .menu .website_name:hover {
	opacity: 1;
}
nav .menu .menu_links {
	transition: all 0.4s ease;
	opacity: 0.5;
}
nav .menu .menu_links:hover {
	opacity: 1;
}
@media screen and (max-width: 799px) {
	nav .menu .menu_links {
		display: none;
	}
}
nav .menu .menu_links .link {
	color: white;
	text-transform: uppercase;
	font-weight: 500;
	margin-right: 50px;
	letter-spacing: 2px;
	position: relative;
	transition: all 0.3s 0.2s ease;
	text-decoration: none;
}
nav .menu .menu_links .link:last-child {
	margin-right: 0;
}
nav .menu .menu_links .link:before {
	content: "";
	position: absolute;
	width: 0px;
	height: 4px;
	background: linear-gradient(90deg, #8fd834 0%, #00aead 100%);
	bottom: -10px;
	border-radius: 4px;
	transition: all 0.4s cubic-bezier(0.82, 0.02, 0.13, 1.26);
	left: 100%;
}
nav .menu .menu_links .link:hover {
	opacity: 1;
	color: #fdfdfd;
}
nav .menu .menu_links .link:hover:before {
	width: 40px;
	left: 0;
}
nav .menu .menu_icon {
	width: 40px;
	height: 40px;
	position: relative;
	display: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
@media screen and (max-width: 799px) {
	nav .menu .menu_icon {
		display: flex;
	}
}
nav .menu .menu_icon .icon {
	width: 24px;
	height: 2px;
	background: white;
	position: absolute;
}
nav .menu .menu_icon .icon:before,
nav .menu .menu_icon .icon:after {
	content: "";
	width: 100%;
	height: 100%;
	background: inherit;
	position: absolute;
	transition: all 0.3s cubic-bezier(0.49, 0.04, 0, 1.55);
}
nav .menu .menu_icon .icon:before {
	transform: translateY(-8px);
}
nav .menu .menu_icon .icon:after {
	transform: translateY(8px);
}
nav .menu .menu_icon:hover .icon {
	background: #8fd834;
}
nav .menu .menu_icon:hover .icon:before {
	transform: translateY(-10px);
}
nav .menu .menu_icon:hover .icon:after {
	transform: translateY(10px);
}
