<script type="text/javascript">
async function initialize(pyodide) {
    await pyodide.runPythonAsync(`
        a = 3
        b = 73
    `);
    $('#content').html(`
<h1>
    Challenge 1
</h1>
<br>
<p>
    You are given <code class="language-md">a</code> and <code class="language-md">b</code> in the interpreter. Go ahead and try to see their values. To win this challenge, find <code class="language-md">a<sup>b</sup></code>
</p>
    `)
}
</script>
