<script type="text/javascript">
async function initialize(pyodide) {
    $('#content').html(`
<h1>
    Challenge 11
</h1>
<br>
<p>
  Images are hard to understand, especially when they are split into a
  million pieces. Can you figure out what this <a href="https://drive.google.com/file/d/1g5Iiu2qS_oTc-Wpcry-K0jf5pQN_WOCu/view">image</a>
  says?
</p>
    `)
}
</script>
