<script type="text/javascript">
async function initialize(pyodide) {
    await pyodide.runPythonAsync(`
# import micropip
# await micropip.install(
#     './secret/wheels/secret-1.0.0-py3-none-any.whl'
# )
# from secret.secret import *
    `);
    $('#content').html(`
<h1>
    Challenge 18
</h1>
<p>
    Get the solution from this file. <a href="https://drive.google.com/file/d/1EQjwCTUbFG-HjCRqCWpDA0j8MPtF_j1P/view?usp=sharing"> Link </a>
</p>
    `)
}
</script>
