<script type="text/javascript">
async function initialize(pyodide) {
    $('#content').html(`
<h1>
    Challenge 18
</h1>
<br>
<p>
    Get the solution from this file. <br>
    <a href="https://drive.google.com/file/d/1EQ94K6kbtfPBST0TPQd6IHxlFixJtC87/view?usp=sharing"> Link (works with Python 3.9) </a><br>
</p>
    `)
}
</script>
