<script type="text/javascript">
async function initialize(pyodide) {
    await pyodide.runPythonAsync(`
    import micropip
    await micropip.install(
        './challenge/wheel/prime-1.0.0-py3-none-any.whl'
    )
    from prime.prime import *
    `);
    $('#content').html(`
<h1>
    Challenge 4
</h1>
<p>
    There's a list called numlist available in the interpreter. Find the only prime number in numlist.
</p>
    `)
}
</script>
