<script type="text/javascript">
async function initialize(pyodide) {
    await pyodide.runPythonAsync(`
        encoded_str = "86f72G17w85s41F68Z31s100q100m7Z"
    `);
    $('#content').html(`
<h1>
    Challenge 5
</h1>
<p>
    You are given a string, encoded_str, which is encoded using run-length encoding. Decode the string to go to the next challenge!
</p>
    `)
}
</script>
