<script type="text/javascript">
async function initialize(pyodide) {
    await pyodide.runPythonAsync(`
      import pickle

      class Main:
        def __init__(self):
          print("PICKLE_THIS")

      p = pickle.dumps(Main)
    `);
    $('#content').html(`
<h1>
    Challenge 7
</h1>
<br>
<p>
  Pickle is a powerful tool in any python toolkit. Can you load what the pickle <code class="language-python">p</code> has to offer?
</p>
    `)
}
</script>
